<%= form_for current_user.groupings.build(:node_id => @node.id) do |f| %>
  <div>
    <%= f.hidden_field :node_id %>
  </div>
  <div class="actions">
    <%= f.submit t('.join_node') %>
  </div>
<% end %>
