<div id="topics" class="box">
  <%= render @topics %>
  <% if @topics.current_page < @topics.total_pages %>
    <%= link_to topics_url(:page => @topics.current_page + 1), :id => "paginate", :remote => true do %>
      <div class="cell center">
        <%= t('pagination.more') %>
      </div>
    <% end %>
  <% end %>
</div>
