<h1>Listing topics</h1>

<% @topics.each do |topic| %>
  <p>
    <%= link_to topic.title, topic %><br />
    <%= time_ago_in_words(topic.updated_at) %> ago
  </p>
<% end %>

<%= link_to 'New Topic', new_topic_path %>
