body {
    font-size: 14px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
    line-height: normal;
}

hr.space {
    margin-bottom: 19px;
}

.fade {
    #999;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
    margin: 0;
    padding: 10px 0 11px 0;
}

a:link, a:visited, a:active {
    color: #636A86;
    text-decoration: none;
}

.light_light_gray {
    color: #DDD;
}

.light_gray {
    color: #AAA;
}

.gray {
    color: gray;
}

.container {
    width: 960px;
}

.box {
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 0;
    padding: 0;
}

.cell {
    border-bottom: 1px solid #E2E2E2;
    padding: 10px;
}

.box .cell {
    font-size: 12px;
    line-height: 16px;
}

#header {
    height: 40px;
    background-color: #222;
    background: -moz-linear-gradient(center top , #444, #111) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));
}

#wrapper {
    background-color: #fff;
    background-image: url("http://www.v2ex.com/static/img/bg.png");
}

#footer {
    background-color: white;
    height: 143px;
}

#logo {
    color: white;
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
    line-height: 36px;
}

#logo a {
    color: white;
    text-decoration: none;
}

#navigation {
    color: white;
    float: right;
    font-size: 14px;
    line-height: 14px;
    margin-top: 13px;
    text-align: right;
}

#navigation a {
    color: white;
}

.columns {
    margin: 0 auto;
    padding: 12px 0 30px 0;
}

#main {
    width: 658px;
    padding: 10px;
    float: left;
}

#side {
    background-color: transparent;
    width: 272px;
    float: right;
    padding: 10px 0 10px 10px;
}

#notification .notice.box,
#notification .alert.box {
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
    margin-bottom: 20px;
}

table {
    margin-bottom: 0;
}

td {
    padding: 0;
}

.topic td.avatar,
.reply td.avatar {
    width: 48px;
    vertical-align: top;
}

.topic td.details,
.reply td.details {
    padding-left: 12px;
    vertical-align:top;
}

.topic td.details .title {
    font-size: 16px;
    padding: 3px 0 5px 0;
}

.topic td.details .title a:hover,
.topic td.detail .title a:active {
    text-decoration: underline;
}

.topic .meta {
    color: #999;
    font-size: 10px;
    line-height: 16px;
}

.topic .meta a:link {
    color: gray;
}

.topic .meta a:hover {
    color: #385F8A;
}

.breadcrumbs {
    color: #666;
    font-size: 16px;
    height: 18px;
}

.separator {
    font-family: 'Lucida Grande';
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
    text-decoration: underline;
}

.topic .cell .avatar {
    float: right;
}

.topic .content {
    color: #000;
    font-size: 14px;
    padding: 10px 10px 0 10px;
    line-height: 1.8;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reply.cell {
    padding-bottom: 0;
}

.reply .content {
    color: #000;
    font-size: 14px;
    padding: 0;
    line-height: 1.8;
    overflow: hidden;
    text-overflow: ellipsis;
}

.topic .content p,
.reply .content p {
    margin-bottom: 1em;
}

.box .cell .summary {
    color: gray;
}

.reply .meta {
    float: right;
    color: #DDD;
    font-size: 10px;
    font-weight: bold;
}

.reply .author a:link {
    color: gray;
}

.reply .author a:hover {
    color: #385F8A;
}

.new_reply .top {
    float: right;
    color: #999;
}

.new_reply .top a {
    color: #999;
}

.new_reply .top a:hover,
.new_reply .top a:active {
    color: #385F8A;
}

.new_reply label {
    font-weight: normal;
    color: #999;
}

.new_reply textarea {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: "Panic Sans", "Menlo", "DejaVu Sans Mono", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
    font-size: 14px;
    border: 1px solid #ccc;
    display: block;
    width: 622px;
    height: 160px;
    margin-top: 0;
    margin-bottom: 10px;
}

.new_reply textarea:focus {
    border: 1px solid rgba(128, 128, 160, 0.6);
    -moz-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
    outline: none;
}

.box .cell a.node {
    color: #636A86;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    padding: 2px 3px;
}

.box .cell a.node:hover {
    text-decoration: underline;
}


table.node_topics th,
table.node_topics td {
    font-size: 14px;
    line-height: 24px;
}

table.node_topics th.replies,
table.node_topics td.replies {
    width: 50px;
    text-align: right;
}

table.node_topics td.replies {
    color: #F93;
    font-weight: bold;
}

table.node_topics th.subject,
table.node_topics td.subject {
    width: auto;
    text-align: left;
}

table.node_topics th.author,
table.node_topics td.author {
    width: 80px;
    text-align: left;
}

table.node_topics td.author {
    color: gray;
}

table.node_topics th.last_replied,
table.node_topics td.last_replied {
    width: 110px;
    text-align: left;
}

table.node_topics td.last_replied {
    color: #999;
    font-size: 12px;
}

.box .cell .topics_counter {
    float: right;
    font-size:14px;
}

table tr th {
    background-color: #FFF;
    color: #CCC;
    padding: 5px;
}

table tr td {
    color: #636a86;
    padding: 5px;
}

table tr.even td {
    background-color: #F9F9F9;
}

#error_explanation ul {
    margin-bottom: 10px;
}

#error_explanation ul li {
    list-style: square;
}

.new_topic form input.title {
    margin: 2px 0;
}

.new_topic form input.title {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px;
    font-size: 14px;
    border: 1px solid #ccc;
    width: 628px;
    font-family: "Panic Sans", "Menlo", "DejaVu Sans Mono", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}

.new_topic form input.title:focus {
    border: 1px solid rgba(128, 128, 160, 0.6);
    -moz-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
    outline: none;
}

.new_topic form textarea.content {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px;
    font-size: 14px;
    border: 1px solid #ccc;
    display: block;
    width: 628px;
    height: 160px;
    font-family: "Panic Sans", "Menlo", "DejaVu Sans Mono", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}

.new_topic form textarea.content:focus {
    border: 1px solid rgba(128, 128, 160, 0.6);
    -moz-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
    outline: none;
}

.new_topic form textarea.content {
    margin: 10px 0;
    height: 400px;
}

.cell.cancel_button a:hover {
    color: #636A86;
    text-decoration: underline;
}

.super.button { background-image: url("/images/bg_blended.png"); padding: 4px 15px 4px 15px; border: 1px solid rgba(0,0,0,.25); border-bottom-color: rgba(0,0,0,.35); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size: 12px; line-height: 12px; outline: none; }

.normal.button { background-color: #f5f5f5; color: #333; text-shadow: 0px 1px 1px #fff; text-decoration: none; font-weight: bold; -moz-box-shadow: 0px 1px 2px rgba(66, 66, 77, 0.3); }
.normal.button:hover { background-color: #fff; color: #333; text-shadow: 0px 1px 1px #fff; text-decoration: none; text-decoration: none; font-weight: bold; cursor: pointer; -moz-box-shadow: 0px 1px 2px rgba(66, 66, 77, 0.2); }
.normal.button:active { background-color: #e2e2e2; color: #333; text-shadow: 0px 1px 1px #fff; text-decoration: none; text-decoration: none; font-weight: bold; cursor: pointer; -moz-box-shadow: 0px 1px 2px rgba(66, 66, 77, 0.2); }

.special.button { background-color: #ffcc00; color: #532b17; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6); text-decoration: none; font-weight: 600; -moz-box-shadow: 0px 1px 2px rgba(233, 175, 0, 0.6); border: 1px solid rgba(200, 150, 0, 0.8); }
.special.button:hover { background-color: #ffdf00; color: #402112; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7); text-decoration: none; text-decoration: none; font-weight: 600; cursor: pointer; -moz-box-shadow: 0px 1px 2px rgba(233, 175, 0, 0.5); border: 1px solid rgba(200, 150, 0, 1); }
.special.button:active { background-color: #ffbb00; color: #402112; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7); text-decoration: none; text-decoration: none; font-weight: 600; cursor: pointer; -moz-box-shadow: 0px 1px 2px rgba(233, 175, 0, 0.5); border: 1px solid rgba(200, 150, 0, 1); }

.inverse.button { background-color: #ccc; color: #999; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6); text-decoration: none; font-weight: 600; -moz-box-shadow: 0px 1px 2px rgba(200, 200, 200, 0.8); border: 1px solid rgba(150, 150, 150, 0.8); }
.inverse.button:hover { background-color: #999; color: #fff; text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5); text-decoration: none; text-decoration: none; font-weight: 600; cursor: pointer; -moz-box-shadow: 0px 1px 2px rgba(200, 200, 200, 1); border: 1px solid rgba(150, 150, 150, 0.6); }
.inverse.button:active { background-color: #888; color: #fff; text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5); text-decoration: none; text-decoration: none; font-weight: 600; cursor: pointer; -moz-box-shadow: 0px 1px 2px rgba(200, 200, 200, 1); border: 1px solid rgba(150, 150, 150, 0.6); }
