body {
    font-size: 14px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
    line-height: normal;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
    margin: 0;
    padding: 10px 0 11px 0;
}

a:link, a:visited, a:active {
    color: #636A86;
    text-decoration: none;
}

.container {
    width: 960px;
}

.box {
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 0;
    padding: 0;
}

.cell {
    border-bottom: 1px solid #E2E2E2;
    padding: 10px;
}

.box .cell {
    font-size: 12px;
    line-height: 16px;
}

#header {
    height: 40px;
    background-color: #222;
    background: -moz-linear-gradient(center top , #444, #111) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));
}

#wrapper {
    background-color: #fff;
    background-image: url("http://www.v2ex.com/static/img/bg.png");
}

#footer {
    background-color: white;
    height: 143px;
}

#logo {
    color: white;
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
    line-height: 36px;
}

#logo a {
    color: white;
    text-decoration: none;
}

#navigation {
    color: white;
    float: right;
    font-size: 14px;
    line-height: 14px;
    margin-top: 13px;
    text-align: right;
}

#navigation a {
    color: white;
}

.columns {
    margin: 0 auto;
    padding: 12px 0 30px 0;
}

#main {
    width: 658px;
    padding: 10px;
    float: left;
}

#side {
    background-color: transparent;
    width: 272px;
    float: right;
    padding: 10px 0 10px 10px;
}

#notification .notice.box,
#notification .alert.box {
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
    margin-bottom: 20px;
}

table {
    margin-bottom: 0;
}

td {
    padding: 0;
}

.topic td.avatar {
    width: 48px;
    vertical-align: top;
}

.topic td.details {
    padding-left: 12px;
}

.topic td.details .title {
    font-size: 16px;
    padding: 3px 0 5px 0;
}

.topic td.details .title a:hover,
.topic td.detail .title a:active {
    text-decoration: underline;
}

.topic .meta {
    color: #999;
    font-size: 10px;
    line-height: 16px;
}

.topic .meta a:link {
    color: gray;
}

.topic .meta a:hover {
    color: #385F8A;
}

.breadcrumbs {
    color: #666;
    font-size: 16px;
    height: 18px;
}

.breadcrumbs .chevron {
    font-family: 'Lucida Grande';
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
    text-decoration: underline;
}

.topic .cell .avatar {
    float: right;
}

.topic .content {
    color: #000;
    font-size: 14px;
    padding: 10px;
    line-height: 1.8;
    overflow: hidden;
    text-overflow: ellipsis;
}

.topic .content p {
    margin-bottom: 1.8em;
}

