<div class="box">
  <div class="cell">
    <div class="breadcrumbs">
      <%= link_to "Home", root_url %>
      <span class="separator">&nbsp;›&nbsp;</span>
      Settings
    </div>
  </div>

  <div class="cell">
    <div class="form">
      <%= render 'profile_form' %>
    </div>
  </div>
</div>

<hr class="space" />
<div class="box">
  <div class="cell">
    Avatar
  </div>
  <div class="cell">
    <div class="form">
      <%= render 'avatar_form' %>
    </div>
  </div>
</div>

<hr class="space" />
<div class="box">
  <div class="cell">
    Password
  </div>
  <div class="cell">
    <div class="form">
      <%= render 'password_form' %>
    </div>
  </div>
</div>
