<div class="box">
  <div class="cell">
    <div>
      <%= image_tag @user.avatar_path(:original) %>
    </div>
    <div>
      <%= @user.username %>
    </div>
    <div>
      <%= @user.email %>
    </div>
  </div>
</div>
