<% if object.errors.any? %>
  <div id="error_explanation">
    <strong>
      <%= t('.errors') %>
    </strong>
    <hr class="space" style="margin-bottom:9px" />
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
