<% if object.errors.any? %>
  <div id="error_explanation">
    <strong>
      <%= pluralize(object.errors.count, "error") %> prohibited this
      <%= object.class.to_s.downcase %> from being saved:
    </strong>
    <hr class="space" style="margin-bottom:9px" />
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
