<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/stylesheets' %>
  <%= render 'layouts/javascripts' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="popup">
    <%= yield %>
  </div>
</body>
</html>
